/TODO.txt
markers/*.webloc

.vs_code/

site/3Dobjects/*.*
!site/3Dobjects/README.txt

site/Video/*.*
!site/Video/README.txt

site/Images/*.*
!site/Images/README.txt

site/Slideshow/*.*
!site/Slideshow/README.txt
!site/Slideshow/Slideshow.txt
!site/Slideshow/images.json
